/Trunk/Software/Android/MachLeo/bin
/Trunk/Software/Webapp/MachLeo/DBAdapter/obj
/Trunk/Software/Webapp/MachLeo/DBAdapter/bin
/Trunk/Software/Webapp/MachLeo/WebApp/bin
/Trunk/Software/Webapp/MachLeo/WebApp/obj
/Trunk/Software/Webapp/MachLeo/WebApp.Tests/bin
/Trunk/Software/Webapp/MachLeo/WebApp.Tests/obj
/Trunk/Software/Webapp/MachLeo/WebService/obj
/Trunk/Software/Webapp/MachLeo/WebService/bin
/Trunk/Software/Webapp/MachLeo/WebService.Tests/obj
/Trunk/Software/Webapp/MachLeo/WebService.Tests/bin
